smartplay_env/
models/
data/X_features.npy
data/features/
data/annotations/
data/MEMD_audio/
data/embeddings/lyric_embeddings.npy
data/embeddings/wav2vec2_embeddings.npy
data/embeddings/lyric_labels.npy
data/embeddings/lyric_song_ids.npy
data/lyrics.csv
data/y_labels.npy
data/deam_metadata.csv
outputs/
results_*.txt
__pycache__/
*.pyc
*.pth
*.pkl
*.DS_Store
*.mp3
